<div>
    <div class="row ml-2">
        <div>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="stockddButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedStock}}
                </button>
                <div id="stock-dd" class="dropdown-menu" aria-labelledby="stockddButton">
                    <div class="dropdown-item" *ngFor="let stk of service.stocks" (click)="changeGraphTicker(stk)">{{stk[1]}}</div>
                </div>
            </div>
        </div>
        <div class="ml-auto mr-2">
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="graphddButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedDays}}
                </button>
                <div id="graph-dd" class="dropdown-menu" aria-labelledby="graphddButton">
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(5)">5 Days</div>
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(10)">10 Days</div>
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(20)">20 Days</div>
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(50)">50 Days</div>
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(100)">100 Days</div>
                    <div class="dropdown-item" (click)="htmlChangeGraphDays(200)">200 Days</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group hidden display-none">
              <div class="input-group">
                <input name="datepicker"
                       class="form-control"
                       ngbDatepicker
                       #datepicker="ngbDatepicker"
                       [autoClose]="'outside'"
                       (dateSelect)="onDateSelection($event)"
                       [displayMonths]="2"
                       [dayTemplate]="t"
                       outsideDays="hidden"
                       [startDate]="fromDate">
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group date-button">
                <input #dpFromDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpFromDate"
                       [value]="formatter.format(fromDate)"
                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
                </div>
              </div>
            </div>
            <div class="form-group ml-2">
              <div class="input-group date-button">
                <input #dpToDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpToDate"
                       [value]="formatter.format(toDate)"
                       (input)="toDate = validateInput(toDate, dpToDate.value)">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
    </div>

    
    <canvas class="pt-3" *ngIf="lineChartDataPopulated()" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
</div>
