<div class="row">
    <div class="col-2">
        <label class="sr-only" for="inlineFormInputGroup">Ticker</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-chart-line"></i></div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ticker" [(ngModel)]="tickerField"> 
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-primary mb-2" (click)="AddStock()">Add</button>
    </div>
</div>
  
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ticker</th>
            <th scope="col">Last Updated On</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Volume</th>
            <th scope="col">Update Records</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stk of service.stocks; let i = index" [attr.data-index]="i">
            <th scope="row">
                {{i}}
            </th>
            <td>
                {{stk[1]}}
            </td>
            <td>
                {{stk[2]}}
            </td>
            <td>
                {{stk[3]}}
            </td>
            <td>
                {{stk[6]}}
            </td>
            <td>
                {{stk[4]}}
            </td>
            <td>
                {{stk[5]}}
            </td>
            <td>
                {{stk[7]}}
            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="UpdateStock(stk)">Update</button>
            </td>
        </tr>
    </tbody>
</table>