<div class="row">
    <div class="col-4 mx-auto">
        <h1 class="text-center text-white">Portfolio</h1>
    </div>
</div>

<div class="row">
    <div class="card col-2 mx-auto mt-3 pt-3 pb-3 bg-dark text-white">
        S&P 500: ${{sAndPValue}}
    </div>
    <div class="card col-4 mx-auto mt-3 pt-3 pb-3 bg-dark text-white">
        My Portfolio: ${{portfolioValue}}
    </div>
    <div class="card col-4 mx-auto mt-3 pt-3 pb-3 bg-dark text-white">
        Blank
    </div>
</div>


<div class="row">
    <div class="card col-2 mx-auto mt-3 pt-3 bg-dark text-white">
        <h4>My Portfolio</h4>
        <table class="table table-dark">
            <tbody>
                <div *ngFor="let stk of service.stocks; let i = index" [attr.data-index]="i" class="divTableRow">
                    <tr *ngIf="i<5">
                        <td>
                            {{stk[1]}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="UpdateStock(stk)">Buy</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="UpdateStock(stk)">Sell</button>
                        </td>
                    </tr>
                    <tr class="tableSecondTr" *ngIf="i<5">
                        <td *ngIf="previousStockAvailable()">
                            PP: ${{service.previousDayStocks[i][6]}}
                        </td>
                        <td>
                            CP: ${{stk[6]}}
                        </td>
                        <td>
                            IV
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <div class="col-4 mx-auto mt-3 pt-3 card bg-dark text-white" *ngIf="service.stocksObtained">
        <app-portfolio-graph></app-portfolio-graph>
    </div>

    <div class="col-4 mx-auto mt-3 pt-3 card bg-dark text-white" *ngIf="service.stocksObtained">
        <app-portfolio-graph></app-portfolio-graph>
    </div>
    
    
</div>

<hr>


<!-- Stock Table -->
<div class="row">
    <div class="col-10 mx-auto">
        <table class="table table-striped table-dark" *ngIf="stockArraysPopulated()">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticker</th>
                    <th scope="col">Purchase Price</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Implied Volatility</th>
                    <th scope="col">% Gain/Loss</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stk of service.stocks; let i = index" [attr.data-index]="i">
                    <th scope="row">
                        {{i}}
                    </th>
                    <td>
                        {{stk[1]}}
                    </td>
                    <td>
                        ${{service.previousDayStocks[i][6]}}
                    </td>
                    <td>
                        ${{stk[6]}}
                    </td>
                    <td>
                        IP
                    </td>
                    <td>
                        {{determineGainLoss(service.previousDayStocks[i][6], stk[6])}}%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
