table.table td, table.table th, table.table tr{
    border:none;
 }


 .divTableRow {
     width: 100%;
 }

 .tableSecondTr {
    border-bottom: 1px solid grey !important;
 }

 tr {
     width: 100%;
 }