<div class="row">
    <div class="col-4 mx-auto">
        <h1 class="text-center">Portfolio</h1>
    </div>
</div>


<div class="row">
    <div class="card col-3 mx-auto">
        <h4>My Portfolio</h4>
        <table class="table">
            <tbody>
                <div *ngFor="let stk of service.stocks; let i = index" [attr.data-index]="i" class="divTableRow">
                    <tr>
                        <td>
                            {{stk[1]}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="UpdateStock(stk)">Buy</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="UpdateStock(stk)">Sell</button>
                        </td>
                    </tr>
                    <tr class="tableSecondTr">
                        <td *ngIf="previousStockAvailable()">
                            PP: {{service.previousDayStocks[i][6]}}
                        </td>
                        <td>
                            CP: {{stk[6]}}
                        </td>
                        <td>
                            IV
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <div class="card col-3 mx-auto">
        <div class="row">
            <div class="col-3">
                <!-- Stocks Button -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="stockddButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stocks
                    </button>
                    <div id="stock-dd" class="dropdown-menu" aria-labelledby="stockddButton">
                        <div class="dropdown-item" *ngFor="let stk of service.stocks">{{stk[1]}}</div>
                    </div>
                </div>
            </div>
            <div class="col-3 offset-5">
                <!-- Graph Button -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="graphddButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Graph
                    </button>
                    <div id="graph-dd" class="dropdown-menu" aria-labelledby="graphddButton">
                        <div class="dropdown-item">5 Days</div>
                        <div class="dropdown-item">10 Days</div>
                        <div class="dropdown-item">20 Days</div>
                        <div class="dropdown-item">50 Days</div>
                        <div class="dropdown-item">100 Days</div>
                        <div class="dropdown-item">200 Days</div>
                    </div>
                </div>
            </div>

            <!-- Graph -->
            <canvas *ngIf="lineChartDataPopulated()" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
        
        
        Test one card
    </div>

    <div class="card col-3 mx-auto">
        Test one card
    </div>
</div>